@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --head-font: 'Source Sans 3';
    --body-font: 'Noto Sans';
    /* Accent Colors
    --primary:;
    --secondary:;
    --accent:;
    Neutral Colors
    --neutral: */
}
/* General Classes */
* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}
/* Font Classes */
.head-font{
    font-family: var(--head-font);
}
.body-font{
    font-family: var(--body-font);
}
/* Font Weights */
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.title{
    font-size: 3rem;
    padding-bottom: 1.5rem !important;
}
.sub-title{
    font-size: 1.25rem;
}
section{
    padding: 2rem 5rem !important;
}
/* Whatsapp button */
.whatsapp-btn{
    position: fixed;
    right:1rem ;
    bottom: 1rem;
}
/* Navbar */
nav{
    padding: 1rem 5rem !important;
    display: flex;
    width: 100%;
    justify-content: center;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.nav-center{
    display: flex;
    gap: 20px;
}
.nav-btn{
    padding: 1rem !important;
    font-size: 1rem;
}
/* Banner */
.banner-section{
    width: 100%;
}
img{
    width: 100%;
}
/* Metabox */
.metabox{
    font-size: 20px;
    padding: 1.5rem !important;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(206, 243, 243);
}
.metabox-content{
    display: flex;
    flex-direction: column;
}
.metabox-content svg{
    height: 72px;
}
.counter::after{
    content: '+';
}
/* About Us */
.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about-flex >div{
    width: 50%;
}
.about-img{
    display: flex;
    justify-content: center;
}
.about-text{
display: flex;
flex-direction: column;
gap: 20px;
}
.about-btn{
    width: fit-content;
    padding: 0.5rem 1rem !important;

}
/* Youtube */
.youtube-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 2rem 0 !important;
}
.youtube-flex .yt-card{
    display: flex;
    justify-content: center;
}
.yt-button{
    display: flex;
    justify-content: center;
}
/* Why Adaptive Learning */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(100%/3.75));
    justify-content: center;
    gap: 30px;
    padding: 2rem 0 !important;
}
.grid-card{
    padding: 1rem !important;
    border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
/* Modes of Learning */
.mockup-image{
    padding: 1rem !important;
    width: 80% !important;
}
/* Testimonials */
.testimonial-flex{
    display: flex;
    padding: 2rem 0 !important;
    gap: 30px;
    justify-content: center;
}

.testimonial-card{
    padding: 1.5rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    
    gap: 20px;
    border-radius: 1rem;
}
.test-image{
    display: flex;
    justify-content: center;
    width: 100%;
}
.testimonial-card img{
    border-radius: 50% ;
   aspect-ratio: 1/1;

}
.test-text{
    font-size: 14px;
}
.test-user{
    font-size: 1.25rem;
}
.quote{
    font-family: "Arial";
    font-size: 20px;
}
/* Mobile App */
.mobile-app-image{
   width: auto !important;
    height: 500px !important;
}
.mobile-app{
    display: flex;
    justify-content: center;
}


/* Footer */
footer{
    background-color: black;
    padding: 2rem 5rem !important;
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    color: aliceblue;
}
.footer-column{
    display: flex;
    gap: .75rem;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.contact,.contact-us{
    padding: 1rem 0 !important;
    list-style: none;
}
.brand-image{
    display: flex;
    justify-content: center;
}
.contact-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0 !important
}
.foot-head{
    font-size: 1.75rem;
   
}
.contact-us{
    padding: 1rem;
}
/* Responsiveness */
@media screen and (max-width: 820px){
.about-flex{
    flex-wrap: wrap-reverse;
}
.about-flex >div{
    width: 100%;
}
.metabox{
    font-size: .75rem !important;
}
.metabox-content svg{
    height: 64px;
}
.about-img> img{

    width: 80%;
}

.youtube-flex{
    flex-wrap: wrap;
    width: 80%;
    justify-content: center !important;
    margin: 0 !important;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
}
.testimonial-flex{
    flex-wrap: wrap;
}
.testimonial-card{
    width: 80%;
}
footer{
    flex-wrap: wrap;
}
.footer-column{
    flex: none;
    width: 50%;
}
}

























/* Swiper */
